@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
body {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
}
/* Label khi focus */
.MuiInputLabel-root.Mui-focused {
  color: red !important;
}

/* Viền khi focus */
.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: red !important;
}
::-webkit-scrollbar {
  width: 7px !important;
  height: 7px !important;
}
::-webkit-scrollbar-thumb {
  background-color: #ff5252;
}

.MuiOutlinedInput-notchedOutline {
  border: none !important;
}
